.experience.container {
    padding-top: 100px;
    background-color: black;
    color: white;
    /* border: 1px solid hotpink; */
}

.experience .about.flex{
    width: 70%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    /* border: 1px solid darkgoldenrod; */
}.experience img {
    border: 1px solid black;
    width: 55%;
    height: 50%;
}.experience .text{
    text-align: left;
    width: 40%;
    /* border: 1px solid blue; */
}.experience .header{
    font-size: 5rem;
    margin: 30px 0;
}.experience .desc{
    font-size: 1.5rem;
}.experience .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

/* Card */
.experience .card{
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin: 20px;
    box-sizing: border-box;
    width: 750px;
    height: 500px;

    border: 4px solid transparent;
    /* background: black; */
    transition: 0.4s;
}.experience .card:hover{
    animation: none;
    box-shadow: 0px 0px 25px 2px white;
    border: 5px solid white;
}

/* background image holder */
.experience .card .image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}.experience .card:hover .image{
    filter: brightness(50%) blur(5px);
}
.experience .card .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    transition: 0.5s;
}.experience .card:hover .image img{
    width: 1000px;
}
.experience .card .title{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
    /* background-color: black; */
}.experience .card:hover .title{
    opacity: 1;
}
.experience .card h2{
    margin: 0px;
    padding: 0px;
    font-size: 6rem;

    color: white;
}

/* holder of text before it pops up */
.experience .card .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    text-align: center;
    transition: .6s;
    z-index: 10;
}.experience .card:hover .content{
    height: 180px;
}

.experience .card .content .desc{
    opacity: 0;
    visibility: hidden;
    
    transition: 0.4s;
}.experience .card:hover .content .desc{
    opacity: 1;
    visibility: visible;
}

.experience .card .content .desc span{
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    color: white;
}

.experience .card:hover .content button{
    opacity: 1;
}

.experience button{
    position: relative;
    display: inline-block;
    text-decoration: none;

    color: white;
    font-family:inherit;
    font-size: 1rem;

    border: none;
    background-color: transparent;
    /* background-color: yellow; */
    padding: 10px 25px;
    margin-top: -40px;
}
  

.svg-wrapper {
    margin-top: 30px;
    position: relative;
    width: 140px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    /* background-color: red; */

    box-shadow: 0 0 0 black;
    transition: .2s all ease;
  }.svg-wrapper:hover{
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0 black;
  }.svg-wrapper:active{
    transform: translate(0, 0);
    box-shadow: 0 0 0 black;
  }
  #shape {
    stroke-width: 4px;
    fill: transparent;
    stroke: white;
    stroke-dasharray: 90 400;
    stroke-dashoffset: -205;
    transition: .75s all ease;
  }.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 8px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
  }
