
.landing{
    border: 1px solid white;
}

.landing.container{
    font-size: 3rem;
    text-align: center;
    /* min-height: 30vh; */
    height: 100vh;
    background-color: purple;
}


.landing.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-size: 6rem;
    margin: 0;
}