#nav{
    text-align: center;
    position: absolute;
    width: 100%;
    /* height: 100px; */

    
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 100;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.navbar li {
    float: left;  
    padding: 0px 40px; 
}

li a {
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding: 4px 0px;

    transition: all .2s;
    color: white;
}.navbar li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';

  color: transparent;
  background: white;
  height: 2px;
  
  transition: all .5s;
}.navbar a:hover{
    color: #AF69FF;
}.navbar li a:hover:after {
    width: 100%;
    
    background: #AF69FF;
}

.link {
  height: 30px;
  align-items: center;
  display: flex;
}
.mask {
  position: relative;
  padding: 0;
  height: 25px;

  overflow: hidden;
}
.link-container {
  transition: transform 0.25s ease;
}
.link .text {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 20px;
  line-height: 25px;

  transition: transform 0.25s ease;
}

.link-text1 {
  transform-origin: right center;
}.link-text2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Hover Action*/
/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-25px);
}
/* Rotate texts a little bit */
.link:hover .link-text1 {
  transform: rotate(20deg);
}.link:hover .link-text2 {
  transform: rotate(0);
}
