.projects .modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}
.projects .modal {
    width: 65vw;
    height: 75vh;
    padding: 0px;

    background-color: #2C1F5F;
    color: white;
}
.projects .modal hr{
    width: 95%;
}

.projects .modalflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: red; */
}

.projects .modal h2{
    /* display: inline; */
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    line-height: 6rem;
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;

    color: #3BF6FF;
    /* background-color: red; */
}  

.projects .modal .about{
    width: 35%;
    max-height: 500px;
    /* margin: auto; */
    margin-right: 50px;
    text-align: left;
    overflow: hidden;
    
    /* background-color: gray; */
    /* border: 1px solid blue; */
}

.project h3{
    display: inline;
    margin: 0px;
    color: #3BF6FF;
    font-size: 1.2rem;
}

.project span{
    display: inline-block;
    width: 35%;
}.modalflex .project{
    font-size: 1.2rem;

    /* font-family: 'Familjen Grotesk', sans-serif; */
    /* font-family: 'Hanken Grotesk', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.holder{
    /* background-color: red; */
    padding: 0px 20px;
}
.holder hr{
    display: inline-block;
    border: 2px solid white;
    margin: 20px auto;
    
}.modalflex hr{
    display: inline-block;
    border: 1px solid #3BF6FF;
    margin: 15px auto;
    margin-bottom: 25px;
    padding-left: 50px;
}

/* ===================================================================== */
.projects .platforms{
    margin: 16px;
}
.projects .platforms{
    font-size: 2.5rem;
}
.projects i{
    text-align: center;
    text-decoration: none;

    animation: animateGlow 1.2s alternate infinite linear;
}.projects i:hover{
    animation: none;
    color: #C558FF;
    filter: drop-shadow(0 0 20px #7700FF) drop-shadow(0 0 12px #7700FF) drop-shadow(0 0 5px #7700FF);
    
}
@keyframes animateGlow {
    0% {
        /* color: #009BFF; */
        color: #5800C8;
        filter: drop-shadow(0 0 0px);
    }
    100% {
        color: #AF69FF;
        filter: drop-shadow(0 0 12px #7700FF) drop-shadow(0 0 10px #7700FF);
    }
}

.projects .modal .showcase{
    width: 55%;
    max-height: 500px;
    overflow: hidden;
    margin-left: 45px;

    box-sizing: border-box;
    border: 4px solid black;
}
.projects .modal .showcase img{
    width: 100%;
}

.modal .svg-wrapper.itch {
    width: 125px;
    /*make sure to use same height/width as in the html*/
    position: absolute;
    right: 45px;
    top: 20px;
}.modal .project .itch #shape {
    stroke-dasharray: 40 400;
    stroke-dashoffset: -125;
}.modal .project .svg-wrapper.itch:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke: #fa5c5c;
}

.modal .svg-wrapper.git {
    width: 120px;
    /*make sure to use same height/width as in the html*/
    position: absolute;
    right: 45px;
    top: 75px;
}.modal .project .git #shape {
    stroke-dasharray: 40 400;
    stroke-dashoffset: -120;
}.modal .project .svg-wrapper.git:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke: black;
}

.modal .svg-wrapper.site {
    width: 130px;
    /*make sure to use same height/width as in the html*/
    position: absolute;
    right: 320px;
    top: 80px;
}.modal .project .site #shape {
    stroke-dasharray: 40 400;
    stroke-dashoffset: -130;
}.modal .project .svg-wrapper.site:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke: black;
}

.modalflex .about{
    position: relative;
}
.modalflex .closebutton{
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.modalflex .svg-wrapper.close {
    width: 100px;
    /*make sure to use same height/width as in the html*/
}.svg-wrapper.close:hover{
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0 black;
    background-color: #564399;
  }.modalflex #shape {
    stroke-dasharray: 58 400;
    stroke-dashoffset: -157;
}.modalflex .svg-wrapper:hover #shape {
    stroke: #FF0000;
}
