.projects.container{
    /* height: 250vh; */
    background-color: darkcyan;
    
    border: 1px solid lightcoral;
}

.projects.container {
    background-color: #155F94;
    background-image: linear-gradient(
        45deg,
        #15354C 25%,
        transparent 25%,
        transparent 75%,
        #15354C 75%,
        #15354C
      ),
      linear-gradient(
        -45deg,
        #15354C 25%,
        transparent 25%,
        transparent 75%,
        #15354C 75%,
        #15354C
      );
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 3s infinite linear;
}
@keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
}

.projects .about.flex{
    width: 60%;
    height: 80vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid darkgoldenrod;
}

.projects img {
    border: 1px solid black;
    width: 55%;
}

.projects .text{
    text-align: left;
    width: 40%;
    border: 1px solid blue;
}

.projects .header{
    font-size: 5rem;
    margin: 30px 0;
}
.projects .desc{
    font-size: 1.5rem;
    /* width: 45%; */
}

.projects .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.projects .items.flexcolumn{
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-color: black;
    border: 1px solid blue;
}.projects .widecolumn{
    width: 50%;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    border: 1px solid lightgreen;
}.projects .thincolumn{
    width: 35%;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    border: 1px solid indianred;
}

/* Card */
.projects .card{
    position: relative;
    width: 450px;
    height: 450px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
}
/* background image holder */
.projects .card .image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
/* background image modifier when hovering card */
.projects .card:hover .image{
    /* top: 0%;
    transform: translateY(0%); */
}
/* ACTUAL card background image */
.projects .card .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: .4; */
    width: 450px;
    transition: 0.5s;
}.projects .card:hover .image img{
    width: 500px;
}
.projects .card .title{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.7s;
    color: white;
    background-color: black;
}
.projects .card:hover .title{
    opacity: 1;
}
/* project title text */
.projects .card .title h2{
}


/* holder of text before it pops up */
.projects .card .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
/* content holder on hover */
.projects .card:hover .content{
    height: 170px;
}

.projects .card .content .desc{
    opacity: 0;
    visibility: hidden;
    
    transition: 0.5s;
}
/* description on hover */
.projects .card:hover .content .desc{
    opacity: 1;
    visibility: visible;
    /* transition-delay: 0.5s; */
}

/* platform */
.projects .card .content .platform {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

/* platform on hover */
.projects .card:hover .content .platform{
    opacity: 1;
    visibility: visible;
    /* transition-delay: 0.6s; */
}
/* description extra text */
.projects .card .content .desc span{
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    background-color: white;
}

.projects .platform{
}
.projects .platform i{
    font-size: 3rem;
}


/* expand button */
.projects .card .content button{
    padding: 10px 20px;
    margin-top: 10px;
    opacity: 0;
    /* transform: translateY(50px); */
    transition: 0.5s;
}
/* expand button on card hover */
.projects .card:hover .content button{
    opacity: 1;
    /* transform: translateY(0px);  */
    /* transition-delay: 0.65s; */
}

.projects button{
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  
  .projects button:last-child {
    margin: 0;
  }
  
  .projects button:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .projects button:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }

  .projects dialog::backdrop {
    background: #ccf8;
  }