.aboutme.container{
    position: relative;
    font-size: 3rem;
    text-align: center;
    /* background-color: black; */
    color: white;
    
    padding-top: 20px;

    
    width: 70%;
    max-width: 1650px;
    
    margin: auto;
    margin-bottom: 100px;
    /* border: 1px solid red; */
}

.aboutme .desc.flex{
    /* width: 70%;
    margin: auto; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    /* border: 1px solid darkgoldenrod; */
}

.aboutme .text{
    text-align: left;
    width: 40%;
    /* border: 1px solid blue; */
}

.aboutme .header{
    font-size: 7rem;
    margin: 30px 0;
}
.aboutme .desc{
    font-size: 1.5rem;
}




 
.hobbies.imagecontainer, .gaming.imagecontainer{
    position: relative;
    width: 55%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    

    /* background-color: rgba(0, 0, 255 , .2); */
    /* opacity: .2; */
}
  
.hobbies .imgcontainer, .gaming .imgcontainer{
    position: absolute; 
    height: 100%;
    width: 100%;


    box-sizing: border-box;
    /* opacity: .2; */
    /* background-color: blue;
    border: 2px solid white; */
}
.hobbies .imgcontainer img, .gaming .imgcontainer img{
    position: absolute;
    width: 140%;
    height: 140%;
    top: -20%;
    left: -20%;
    object-fit: contain;

    opacity: 1;
    /* background-color: blue; */
    /* border: 2px solid white; */
}
  
.hobbies .imgcontainer.a{
    position: absolute; 
    top: -180px;
}.hobbies .imgcontainer.b{
    position: absolute; 
    top: -180px;
}.hobbies .imgcontainer.c{
    position: absolute; 
    top: -90px;
}.hobbies .imgcontainer.d{
    position: absolute; 
    top: -90px;
}.hobbies .imgcontainer.e{
    position: absolute; 
    top: -120px;
}.hobbies .imgcontainer.f{
    position: absolute; 
    top: -120px;
}.hobbies .imgcontainer.g{
    position: absolute; 
    top: -90px;
}.hobbies .imgcontainer.h{
    position: absolute; 
    top: -70px;
}.hobbies .imgcontainer.i{
    position: absolute; 
    top: -90px;
}.hobbies .imgcontainer.j{
    position: absolute; 
    top: -30px;
}


.gaming .imgcontainer.w{
    position: absolute; 
    top: 120px;
}