.carousel {
    /* margin-left: 15%;
    margin-right: 15%; */
}

ul.slides {
    display: block;
    position: relative;
    height: 500px;
    /* max-height: 500px; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .15s ease-in-out;
}   

.slide-image img {
    height: 100%;
    width: auto;

    position: absolute;
    margin-left: 0%;
    transform: translateX(-50%);
}



.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 500px;
    color: #3BF6FF;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 1;
    transition:  .25s;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0);
}.slide-image:hover + .carousel-controls label{
    /* opacity: 0.5; */
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
}.carousel-controls label:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .4);
}

.carousel-controls label span {
    opacity: 0;
    transition:  .25s;
    font-family: 'Rosario', sans-serif;
}.slide-image:hover + .carousel-controls label span{
    opacity: 1;
}.carousel-controls label:hover span {
    opacity: 1;
    filter: drop-shadow(0 0 20px #00D3DD) drop-shadow(0 0 20px #00D3DD) drop-shadow(0 0 10px #00D3DD);
}


.carousel-controls .prev-slide {
    width: 6%;
    text-align: left;
    left: 0;
}.carousel-controls .next-slide {
    width: 6%;
    text-align: right;
    right: 0;
}



.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 999;
    text-align: center;
}.carousel-dots .carousel-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3BF6FF;
    opacity: 0.4;
    margin: 0px;
    animation: dotsGlow 1s alternate infinite linear;
}

@keyframes dotsGlow {
    0% {
        background-color: #3BF6FF;
        filter: drop-shadow(0 0 10px #00D3DD);
    }
    100% {
        background-color: #3BF6FF;
        filter: drop-shadow(0 0 10px #00BCC5) drop-shadow(0 0 5px #00BCC5) drop-shadow(0 0 5px #00BCC5);
    }
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {
	opacity: 1;
}


input#sta-img-1:checked ~ .carousel-dots label#sta-img-dot-1,
input#sta-img-2:checked ~ .carousel-dots label#sta-img-dot-2,
input#sta-img-3:checked ~ .carousel-dots label#sta-img-dot-3 {
	opacity: 1;
}


input#me-img-1:checked ~ .carousel-dots label#me-img-dot-1,
input#me-img-2:checked ~ .carousel-dots label#me-img-dot-2,
input#me-img-3:checked ~ .carousel-dots label#me-img-dot-3 {
	opacity: 1;
}

input#tal-img-1:checked ~ .carousel-dots label#tal-img-dot-1,
input#tal-img-2:checked ~ .carousel-dots label#tal-img-dot-2,
input#tal-img-3:checked ~ .carousel-dots label#tal-img-dot-3 {
	opacity: 1;
}


input#eat-img-1:checked ~ .carousel-dots label#eat-img-dot-1,
input#eat-img-2:checked ~ .carousel-dots label#eat-img-dot-2,
input#eat-img-3:checked ~ .carousel-dots label#eat-img-dot-3 {
	opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }