.experience.container {
    padding-top: 140px;
    /* background-color: black; */
    color: white;

    
    width: 70%;
    max-width: 1650px;
    
    margin: auto;

    margin-top: 100px;
    margin-bottom: 120px;

    /* border: 1px solid hotpink; */
}
.experience .header{
    font-size: 7rem;
    margin: 40px 0px;
    text-align: center;
}

.experience .darkwind{
    position: relative;
    /* width: 70%;
    margin: 0px auto; */
    padding-bottom: 100px;
    text-align: left;
    /* overflow: hidden; */
    overflow:visible;
    
    /* background-color: gray; */
    /* border: 1px solid blue; */
}


.xpflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    /* background-color: red; */
}

.xpflex .company{
    position: relative;
    width: 40%;
}
.company h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    line-height: 8.5rem;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #3BF6FF;

    /* background-color: red; */
    animation: xpGlow2 1s alternate infinite linear;
}  

@keyframes xpGlow2 {
    0% {
        color: #FF3200;
        border-color: #FF3200;
        filter: drop-shadow(0 0 0px #FF6C00);
    }
    100% {
        color: #FF8000;
        border-color: #FF8000;
        filter: drop-shadow(0 0 15px #FF6C00);
    }
}

@keyframes xpGlow3 {
    0% {
        color: #FF3200;
        filter: drop-shadow(0 0 0px #FF6C00);
    }
    100% {
        color: #FF8000;
        filter: drop-shadow(0 0 15px #FF6C00);
    }
}

.xpflex hr{
    width: 0px;
    margin: 0px;
    border: 2px solid white;
    /* padding: 0px 10px; */
}

.xpflex .right{
    width: 55%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.right .pos{
    width: 100%;
    margin: 0px;
    position: relative;
    /* background-color: red; */
}
.right hr{
    width: 100%;
    /* background-color: red; */
    margin: 20px auto;
    border: 1px solid #3BF6FF;
    animation: xpGlow2 1s alternate infinite linear;
}


.right .line{
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 1.5rem;
    /* background-color: red; */
}.right .head{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    /* background-color: green; */
}.experience h3{
    /* display: inline; */
    margin: 0px;
    color: #3BF6FF;
    font-size: 1.2rem;
    font-family: 'Martian Mono', monospace;
    
    animation: xpGlow3 1s alternate infinite linear;
}
.right .list{
    display: inline-block;
    /* background-color: purple; */
}
.right .role{
    margin-top: 20px;
}
.role h3{
    margin: 10px auto;
}
.right .role{
    width: 100%;
    position: relative;
    line-height: 2rem;
    /* background-color: purple; */
}
.right .role br{
    line-height: 1rem;
}


.experience button{
    position: relative;
    display: inline-block;
    text-decoration: none;

    color: white;
    font-family:inherit;
    font-size: 1.3rem;

    border: none;
    background-color: transparent;
    /* background-color: yellow; */
    padding: 10px 50px;
    margin-top: -48px;
}
  
.xpflex .darkwindsite{
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.xpflex .svg-wrapper.darkwindsite {
    width: 320px;
    height: 50px;
    box-shadow: 0 0 0 black;
    /* right: 45px;
    top: 20px; */
}.svg-wrapper.darkwindsite:hover{
    transform: translate(-50%, 0%) translate(-6px, -6px);
    box-shadow: 6px 6px 0 #99250E;
    /* background-color: #564399; */
}.xpflex .darkwindsite #shape {
    stroke-dasharray: 216 440;
    stroke-dashoffset: -422;
}.xpflex .svg-wrapper.darkwindsite:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 10px;
    stroke-dashoffset: 0;
    stroke: #FF8000;
}