
@keyframes xpHeaderGlow {
    0% {
        color: white;
        filter: drop-shadow(0 0 0px #ffffff00);
    }
    80%{
        
        color: white;
    }
    100% {
        color: #FF8000;
        filter: drop-shadow(0 0 15px #FF6C00);
    }
  }
  @keyframes xpHeaderGlow2 {
    0% {
        color: white;
        filter: drop-shadow(0 0 0px #ffffff00);
    }
    80%{
        
    }
    100% {
        filter: drop-shadow(0 0 15px white);
    }
  }


.experience.container {
    padding-top: 100px;
    /* background-color: black; */
    color: white;

    
    width: 70%;
    max-width: 1650px;
    
    margin: auto;

    margin-top: 100px;
    margin-bottom: 120px;

    /* border: 1px solid hotpink; */
}
.experience .header{
    font-size: 8rem;
    margin: 40px 0px;
    text-align: center;
    animation: xpHeaderGlow 2s alternate infinite linear;
}

.experience .saic{
    position: relative;
    /* width: 70%;
    margin: 0px auto; */
    padding-bottom: 100px;
    text-align: left;
    /* overflow: hidden; */
    overflow:visible;
    
    /* background-color: gray; */
    /* border: 1px solid blue; */
}

.experience .darkwind{
    position: relative;
    /* width: 70%;
    margin: 0px auto; */
    padding-bottom: 100px;
    text-align: left;
    /* overflow: hidden; */
    overflow:visible;
    
    /* background-color: gray; */
    /* border: 1px solid blue; */
}
.experience h3{
    /* display: inline; */
    margin: 0px;
    color: #3BF6FF;
    font-size: 1.2rem;
    font-family: 'Martian Mono', monospace;
    
    animation: xpGlow3 1s alternate infinite linear;
}


.xpflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    /* background-color: red; */
}

/* .xpflex .company{
    position: relative;
    width: 40%;
} */
.company h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 7rem;
    line-height: 8.5rem;
    color: #3BF6FF;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -40px;

    /* background-color: pink; */
    animation: xpGlow2 1s alternate infinite linear;
    
}  
.saic .company h2{
}
.darkwind .company h2{
    text-align: right;
}


@keyframes xpGlow2 {
    0% {
        color: #FF3200;
        border-color: #FF3200;
        filter: drop-shadow(0 0 0px #FF6C00);
    }
    100% {
        color: #FF8000;
        border-color: #FF8000;
        filter: drop-shadow(0 0 15px #FF6C00);
    }
}

@keyframes xpGlow3 {
    0% {
        color: #FF3200;
        filter: drop-shadow(0 0 0px #FF6C00);
    }
    100% {
        color: #FF8000;
        filter: drop-shadow(0 0 15px #FF6C00);
    }
}

.xpflex hr{
    width: 0px;
    margin: 0px;
    border: 2px solid white;
    animation: xpGlow2 1s alternate infinite linear;
    /* padding: 0px 10px; */
}
.company hr{
    width: 100%;
    margin: 20px auto;
    border: 2px solid white;
}

.saic .xpflex .left{
    width: 40%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.saic .left .pos{
    width: 100%;
    margin: 0px;
    position: relative;
}
.saic .left .line{
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 1.5rem;
}.saic .left .head{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.saic .left .list{
    display: inline-block;
}



.saic .xpflex .right{
    width: 55%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.saic .right .pos{
    width: 100%;
    margin: 0px;
    position: relative;
    /* background-color: red; */
}

.darkwind .xpflex .left{
    width: 55%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.darkwind .left .pos{
    width: 100%;
    margin: 0px;
    position: relative;
}

.darkwind .xpflex .right{
    width: 40%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.darkwind .right .pos{
    width: 100%;
    margin: 0px;
    position: relative;
}
.darkwind .right .line{
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 1.5rem;
    /* background-color: red; */
}.darkwind .right .head{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    /* background-color: green; */
}
.darkwind .right .list{
    display: inline-block;
    /* background-color: purple; */
}


.experience button{
    position: relative;
    display: inline-block;
    text-decoration: none;

    color: white;
    font-family:inherit;
    font-size: 1.3rem;

    border: none;
    background-color: transparent;
    /* background-color: yellow; */
    padding: 10px 50px;
    margin-top: -60px;
    
    animation: xpGlow2 1s alternate infinite linear;
}


.sitelink{
    margin: 0;
    position: absolute;
    transform: translate(-50%, 0%);
}
.svg-wrapper.sitelink {
    width: 320px;
    height: 50px;
    box-shadow: 0 0 0 black;
}.svg-wrapper.sitelink:hover{
    transform: translate(-50%, 0%) translate(-6px, -6px);
    box-shadow: 6px 6px 0 #99250E;
}.sitelink #shape {
    stroke-dasharray: 216 440;
    stroke-dashoffset: -422;
}.svg-wrapper.sitelink:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 10px;
    stroke-dashoffset: 0;
    stroke: #FF8000;
}

.saic .sitelink{
    top: 10px;
    left: 22%;
}
.darkwind .sitelink{
    top: 10px;
    left: 80%;
}
  
.darkwindsite{
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.svg-wrapper.darkwindsite {
    width: 320px;
    height: 50px;
    box-shadow: 0 0 0 black;
    /* right: 45px;
    top: 20px; */
}.svg-wrapper.darkwindsite:hover{
    transform: translate(-50%, 0%) translate(-6px, -6px);
    box-shadow: 6px 6px 0 #99250E;
    /* background-color: #564399; */
}.darkwindsite #shape {
    stroke-dasharray: 216 440;
    stroke-dashoffset: -422;
}.svg-wrapper.darkwindsite:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 10px;
    stroke-dashoffset: 0;
    stroke: #FF8000;
}