
/* #contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
} */

.container.contact{
    position: relative;
    color: white;
    
    text-align: center;
    font-size: 3rem;
    padding-top: 120px;
    padding-bottom: 160px;

    overflow: hidden;
    
    width: 100%;
    
    margin: auto;
}

.contact .header{
    width: 70%;
    text-align: center;
    font-size: 6rem;
    /* margin: 0px 0; */
    margin: auto;
    /* animation: aboutGlow 2s alternate infinite linear; */
}.contact .desc{
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
    color: white;
}
.contact .desc #email{
    
    animation: xpGlow2 2s alternate infinite linear;
}

.contact .bgimage{
    position: absolute;
    opacity: .5;
    z-index: -1;
    background-repeat:repeat-y;
    width: 200px;

    margin-left: -400px;
    margin-top: -400px;
    
    animation: translateImage 8s infinite linear;
}.contact .bgimage img{
    background-repeat: repeat-x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 1000px; */
    /* width: 100%; */
}