
.landing{
    /* border: 1px solid white; */
}
.landing.container{
    position: relative;
    text-align: center;
    /* min-height: 30vh; */
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    /* background-color: black; */
    color: white;

    border-bottom: solid 5px white;
}

.landing .image{
    position: absolute;
    opacity: .5;
    
    animation: translateImage 10s infinite linear;
}.landing img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 1000px; */
    /* width: 100%; */
}

@keyframes translateImage {
    from {
        transform: translateX(0) translateY(0);
      }
      to { 
        transform: translateX(128px) translateY(128px);
      }
}


.landing .flex{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}



/* ===================================================================== */
.landing .text{
    font-size: 2rem;
    position: relative;
}
.landing h1{
    font-size: 10rem;
    margin: 0;

    font-family: 'Rosario', sans-serif;
}

/* ===================================================================== */
.landing .links{
    margin: 16px;
    
}
.landing .links svg{
    width: 2.5rem;
    fill: currentColor;
}
.landing a{
    text-align: center;
    text-decoration: none;
    margin: 10px;

    animation: animateGlow 1.2s alternate infinite linear;

    /* color: #8300FF; */

}.landing a:hover{
    animation: none;
    color: #C558FF;
    filter: drop-shadow(0 0 20px #7700FF) drop-shadow(0 0 12px #7700FF) drop-shadow(0 0 5px #7700FF);
    
}
@keyframes animateGlow {
    0% {
        /* color: #009BFF; */
        color: #5800C8;
        filter: drop-shadow(0 0 0px);
    }
    100% {
        color: #AF69FF;
        filter: drop-shadow(0 0 12px #7700FF) drop-shadow(0 0 10px #7700FF);
    }
}

.landing .mouseHolder{
    position: absolute;
    /* background-color: red; */
    bottom: 15%;
    left: 50%;
}
