@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  

  /* Card */
.projects .card.glow{
  /* overflow: hidden; */
  position: relative;
  border-radius: 20px;
  margin: 8px 20px;
  box-sizing: border-box;


  border: 5px solid transparent;
  /* background: gray; */
  transition: 0.4s;


  background: #191c29;
  /* width: var(--card-width);
  height: var(--card-height); */
  /* padding: 3px; */
}.projects .card.glow:hover{
  animation: none;
  box-shadow: 0px 0px 25px 2px white;
  border: 5px solid white;
}

.projects .card.glow::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -5px;
  width: 100%+10px;
  height: 100%+10px;
  border-radius: 20px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2
  );
  animation: spin 2.5s linear infinite;
}

  
  .glow {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    /* padding: 3px; */
    position: relative;
  }
  
  
  .glow::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2
    );
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  /* .glow::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  } */
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  