dialog[open] {  
  animation: modalFadeIn .4s  cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}.modal[open]::backdrop {  
  animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

dialog.hide {
  animation: modalFadeOut .4s  cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}.modal.hide::backdrop{
  animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes modalFadeIn {
  0% {
    opacity:0;
    top:-60px;
  }
  100% {
    opacity:1;
    top:0;
  }
}

@keyframes modalFadeOut {
  0% {
    opacity:1;
    top:0;
  }
  100% {
    opacity:0;
    top:-60px;
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}
