.projects .modal::backdrop {
    /* background: rgb(0 0 0 / 0.75); */
}
.projects .modal {
    width: 65vw;
    height: 75vh;
    padding: 0px;

    background-color: #241046;
    background: rgba(36 ,16 ,70 , 0.8);
    color: white;
}
.projects .modal hr{
    width: 95%;
}

.projects .modalflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: red; */
}

.projects .modal h2{
    /* display: inline; */
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    line-height: 6rem;
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;

    color: #3BF6FF;
    /* background-color: red; */
    
    animation: projectGlow2 1s alternate infinite linear;
}  

@keyframes projectGlow2 {
    0% {
        color: #00D8FF;
        /* text-shadow: 0 0 5px #00D3DD; */
        filter: drop-shadow(0 0 0px #00D3DD);
    }
    100% {
        color: #00F3FF;
        /* text-shadow: 0 0 30px #00D3DD; */
        filter: drop-shadow(0 0 15px #00BCC5);
    }
}

@keyframes projectGlow3 {
    0% {
        color: #00E0FF;
        /* text-shadow: 0 0 3px #00D3DD; */
        filter: drop-shadow(0 0 0px #00D3DD);
    }
    100% {
        color: #00F3FF;
        /* text-shadow: 0 0 15px #00D3DD; */
        filter: drop-shadow(0 0 15px #00BCC5);
    }
}

.holder{
    /* background-color: red; */
    padding: 0px 20px;
}.holder hr{
    display: inline-block;
    border: 2px solid white;
    margin: 20px auto;
    
}

.projects .modal .info{
    position: relative;
    width: 35%;
    max-height: 500px;
    /* margin: auto; */
    margin-right: 50px;
    text-align: left;
    /* overflow: hidden; */
    overflow:visible;
    
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: gray; */
    /* border: 1px solid blue; */
}

.info h3{
    display: inline;
    margin: 0px;
    font-size: 1.2rem;
    font-family: 'Martian Mono', monospace;

    color: #3BF6FF;
    animation: projectGlow3 1s alternate infinite linear;
}

.info .project{
    margin-bottom: 10px;
    line-height: 1.5rem;
    /* background-color: red; */
}.project .head{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    /* background-color: green; */
}.project .list{
    display: inline-block;
    /* background-color: purple; */
}


.info hr{
    display: inline-block;
    border: 1px solid #3BF6FF;
    /* margin: 15px auto; */
    margin: 10px 0;
    padding-left: 50px;

    animation: projectGlow3 1s alternate infinite linear;
}

.info .about h3{
    display: block;
    margin: 10px auto;
}


.projects .modal .showcase{
    position: relative;
    width: 55%;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
    margin-left: 45px;

    box-sizing: border-box;
    border: 4px solid black;
    background-color: black;
    background-color: rgba(0 ,0 ,0 , 0.75);
}
.projects .modal .showcase img{
    /* width: 100%; */
}





.modal .svg-wrapper.itch {
    width: 160px;
    position: absolute;
    right: 45px;
    top: 40px;
}.modal .project .itch #shape {
    stroke-dasharray: 40 400;
    stroke-dashoffset: -165;
}.modal .project .svg-wrapper.itch:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke: #fa5c5c;
}


.modal .svg-wrapper.git {
    width: 144px;
    /*make sure to use same height/width as in the html*/
    position: absolute;
    right: 45px;
    top: 100px;
}.modal .project .git #shape {
    stroke-dasharray: 40 400;
    stroke-dashoffset: -150;
}.modal .project .svg-wrapper.git:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke: #757575;
}

.modal .svg-wrapper.site {
    width: 160px;
    position: absolute;
    right: 45px;
    top: 40px;
}.modal .project .site #shape {
    stroke-dasharray: 40 400;
    stroke-dashoffset: -165;
}.modal .project .svg-wrapper.site:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 6px;
    stroke-dashoffset: 0;
    stroke: white;
}

.svg-wrapper.git:hover{
    background-color: #50357F;
}.svg-wrapper.itch:hover{
    background-color: #50357F;
}.svg-wrapper.site:hover{
    background-color: #50357F;
}

.modalflex .closebutton{
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}.closebutton button{
    /* background-color: blue; */
    padding: 10px 36px;
}

.modalflex .svg-wrapper.close {
    width: 130px;
}.svg-wrapper.close:hover{
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0 black;
    background-color: #530909;
    color: red;
}.modalflex #shape {
    stroke-dasharray: 58 400;
    stroke-dashoffset: -210;
}.modalflex .svg-wrapper:hover #shape {
    stroke: #FF0000;
}
