.projects.container {
    /* background-color: #155F94;
    background-color: black; */
    color: white;
    
    width: 70%;
    max-width: 1650px;
    
    margin: auto;
}

.projects .about.flex{
    position: relative;
    /* width: 70%;
    max-width: 70%; */
    min-width: 500px;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    
    /* border: 1px solid darkgoldenrod; */
}.projects img {
    /* border: 1px solid black;
    width: 55%;
    margin-right: 25px; */
}.projects .text{
    text-align: left;
    width: 40%;
    min-width: 410px;
    margin-left: 25px;
    /* border: 1px solid blue; */
}.projects .header{
    font-size: 7rem;
    margin: 30px 0;
    margin-top: 0px;
}.projects .desc{
    font-size: 1.5rem;
    margin-top: 20px;
}.projects .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}


.projects .items.flexrow{
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* background-color: gray; */
    /* border: 1px solid blue; */
}.projects .toprow{
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    /* border: 1px solid lightgreen; */
}.projects .botrow{
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    /* border: 1px solid indianred; */
}

/* Card */
.projects .card{
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin: 8px 20px;
    box-sizing: border-box;


    /* border: 5px solid green; */
    transition: 0.2s;
}.projects .card:hover{
    animation: none;
    box-shadow: 0px 0px 25px 2px white;
    border: 5px solid white;
}

.projects .toprow .card{
    width: 450px;
    max-width: 800px;
    height: 450px;
    flex: 1 1  auto;
    /* border: 1px solid brown; */
}.projects .botrow .card{
    width: 450px;
    height: 450px;
    flex: 1 1  auto;
}


/* background image holder */
.projects .card .image{
    overflow: hidden;
    position: absolute;
    border-radius: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    /* height: 220px; */
    z-index: 1;
    transition: 0.3s;
    /* background-color: red; */
}.projects .card:hover .image{
    filter: brightness(45%) blur(5px);
}
.projects .card .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    transition: 0.5s;
    /* z-index: 100; */
}.projects .card:hover .image img{
    width: 1000px;
}
.projects .card .title{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
    
    text-align: center;
    line-height: 5rem;
    /* background-color: red; */
    /* background-color: black; */
}.projects .card:hover .title{
    opacity: 1;
}
.projects .card h2{
    margin: 0px;
    padding: 0px;
    font-size: 6rem;

    color: white;
    /* background-color: red; */
}

/* holder of text before it pops up */
.projects .card .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    text-align: center;
    transition: .6s;
    z-index: 10;
}
/* .projects .card:hover .content{
    height: 175px;
} */
.toprow .card:hover .content{
    height: 175px;
}
.botrow .card:hover .content{
    height: 135px;
}

.projects .card .content .desc{
    opacity: 0;
    visibility: hidden;
    
    transition: 0.4s;
}.projects .card:hover .content .desc{
    opacity: 1;
    visibility: visible;
}

.projects .card .content .desc span{
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    color: white;
}

.projects .card:hover .content button{
    opacity: 1;
}



.projects button{
    position: relative;
    display: inline-block;
    text-decoration: none;

    color: white;
    font-family:inherit;
    font-size: 1rem;

    border: none;
    background-color: transparent;
    /* background-color: yellow; */
    padding: 10px 25px;
    margin-top: -42px;

    
    font-family: 'Martian Mono', monospace;
}

.svg-wrapper {
    margin-top: 10px;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 45px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    /* background-color: red; */

    box-shadow: 0 0 0 black;
    transition: .2s all ease;
}.svg-wrapper:hover{
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0 black;
}.svg-wrapper:active{
    transform: translate(0, 0);
    box-shadow: 0 0 0 black;
}
#shape {
    stroke-width: 4px;
    fill: transparent;
    stroke: white;
    stroke-dasharray: 90 400;
    stroke-dashoffset: -224;
    transition: .75s all ease;
}.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 8px;
    stroke-dashoffset: 0;
    stroke: #3BF6FF;
}
