.projects.container {
    /* background-color: #155F94;
    background-color: black; */
    position: relative;
    color: white;
    overflow: hidden;

    width: 100%;
    /* max-width: 1650px; */

    margin: auto;
    padding-bottom: 80px;
    /* border: 2px solid red; */
}


.projects .bgimage{
    position: absolute;
    opacity: .5;
    z-index: -1;
    background-repeat:repeat-y;
    width: 200px;

    margin-left: -300px;
    margin-top: -300px;

    animation: translateImage 8s infinite linear;
}.projects .bgimage img{
    background-repeat: repeat-x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 1000px; */
    /* width: 100%; */
}

.projkeyword{
    animation: purpleGlow 1s alternate infinite linear;
}


.projects .about.flex{
    position: relative;
    width: 70%;
    max-width: 1650px;
    /* width: 70%;
    max-width: 70%; */
    min-width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 120px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: visible;

    /* border: 1px solid darkgoldenrod; */
}.projects .text{
    text-align: left;
    width: 40%;
    min-width: 410px;
    margin-left: 25px;
    /* border: 1px solid blue; */
}.projects .header{
    font-size: 8rem;
    margin: 30px 0;
    margin-top: 0px;
    /* animation: aboutGlow 2s alternate infinite linear; */
}.projects .desc{
    font-size: 1.5rem;
    margin-top: 20px;
}.projects .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.projholder{
    width: 72%;
    padding: 45px 1%;
    margin: auto;
    margin-bottom: 120px;
    position:relative;

    border-radius: 12px;
    /* border: 5px solid black; */
    /* backdrop-filter: brightness(70%) blur(5px);
    backdrop-filter: brightness(120%) blur(15px); */
    transition: 0.35s ease-in-out;
    animation: projholderglow 2s alternate infinite linear;
  }
  .projholder:hover{
    box-shadow: 0px 0px 15px 2px #00f2ff;
    /* animation: projholderglow 2s alternate infinite linear; */
  }
.project{
    width: 97%;
    margin: auto;
    position:relative;
    /* border: 2px solid red; */

}.project h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 7rem;
    line-height: 8.5rem;
    width: 100%;
    /* margin-left: 0px; */
    margin-top: -20px;
    margin-bottom: -40px;
    display: inline-block;
    pointer-events:none;

    /* background-color: pink; */
    animation: projtextglow 1s alternate infinite linear;
}.project.left h2{

    margin-left: 0px;
}.project.right h2{
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
.projname hr{
    width: 100%;
    margin: 20px auto;
    border: 2px solid white;
}.project h3{
    margin: 0px;
    color: yellow;
    font-size: 1.2rem;
    font-family: 'Martian Mono', monospace;

    animation: projtextglow 1s alternate infinite linear;
}

.project .svg-wrapper {
    position:absolute;
    display: inline-block;

    width: 200px;
    /*make sure to use same height/width as in the html*/
    height: 50px;
    border-radius: 3px;

    margin-top:20px;
    /* background-color: red; */

    box-shadow: 0 0 0 black;
    transition: .2s all ease;
}.project.left .svg-wrapper{
    right: 10px;
}.project.right .svg-wrapper{
    left: 10px;
}
.project .svg-wrapper:hover{
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0 #0a5d61;
}
/* .project .svg-wrapper:active{
    transform: translate(0, 0);
    box-shadow: 0 0 0 white;
} */
.project #shape {
    stroke-width: 4px;
    fill: transparent;
    stroke: white;
    stroke-dasharray: 150 400;
    stroke-dashoffset: -276;
    transition: .75s all ease;
}.project .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 8px;
    stroke-dashoffset: 0;
    stroke: #00f2ff;
}
.projects button{
    /* position: absolute; */
    display: inline-block;
    text-decoration: none;
    width: 200px;

    color: white;
    font-family:inherit;
    font-size: 1.5rem;

    border: none;
    background-color: transparent;
    padding: 10px 0px;
    /* margin: auto; */
    margin-top: -64px;


    animation: projtextglow 1s alternate infinite linear;
    font-family: 'Martian Mono', monospace;
}










.projflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 24px;
    /* background-color: red; */
}

.projflex hr{
    width: 0px;
    margin: 0px;
    border: 2px solid #00F3FF;
    animation: projtextglow 1s alternate infinite linear;
    /* padding: 0px 10px; */
}
.projflex.flexleft .left{
    width: 35%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    /* background-color: red; */
}
.projflex.flexleft .specs{
    width: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.projflex.flexleft .specs .line{
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 1.5rem;
}.projflex.flexleft .specs .head{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.projflex.flexleft .specs .list{
    display: inline-block;
}


.projflex.flexleft .right{
    width: 60%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.projflex.flexleft .right .role{
    width: 100%;
    margin: 0px;
    position: relative;
    /* background-color: red; */
}


.projflex.flexright .right{
    width: 35%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    /* background-color: red; */
}
.projflex.flexright .specs{
    width: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.projflex.flexright .specs .line{
    margin-left: 0px;
    margin-bottom: 10px;
    line-height: 1.5rem;
}.projflex.flexright .specs .head{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.projflex.flexright .specs .list{
    display: inline-block;
}


.projflex.flexright .left{
    width: 60%;
    margin: 0px;
    padding: 0px;
    text-align: left;

    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    /* background-color: red; */
}
.projflex.flexright .left .role{
    width: 100%;
    margin: 0px;
    position: relative;
    /* background-color: red; */
}




.proj-media{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    gap: 10px;

    /* border: 2px solid green; */
}
.proj-image{
    overflow: hidden;
    flex: 0 3 480px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;

    /* border-radius: 8px; */
    box-sizing: border-box;
    /* margin: 0px 5px;  */
    transition: 0.5s ease-out;
    border: 2px solid white;
    /* box-shadow: 0px 0px 8px 0px white; */
    /* animation: proj-img-glow 1s alternate infinite linear; */
}
.proj-image img{
    object-fit: cover;
    object-position: center;
    height: 400px;
    transition: 0.5s ease-in-out;
    /* filter: brightness(80%) blur(1px) contrast(1.5); */
    filter:  brightness(95%) blur(1px) contrast(1.25);
}

.proj-image:hover{
    flex: 0 0 700px;
    /* box-shadow: 0px 0px 20px 2px white; */
    border-radius: 8px;
    border: 2px solid #00f2ff;
    animation: proj-img-glow  1s alternate infinite linear;
}
.proj-image:hover img{
    height: 400px;
    filter: brightness(100%) blur(0px);
}


/* ============================================================================================================================================== */
