 
.setup.imagecontainer{
    position: relative;
    width: 55%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    /* background-color: rgba(255, 255, 0, .2); */
    /* opacity: .2; */
}
  
.setup .imgcontainer {
    position: absolute; 
    height: 100%;
    width: 100%;


    /* overflow: visible; */
    box-sizing: border-box;
    /* background-color: blue;
    border: 2px solid white; */
}
.setup .imgcontainer img{
    position: absolute;
    object-fit: contain;
    
    width: 125%;
    left: -100px;

    opacity: 1;
}
  
.setup .imgcontainer.c{
    position: absolute; 
    top: 10px;
    left: -10px;
}
.setup .imgcontainer.d1{
    position: absolute; 
}
.setup .imgcontainer.d2{
    position: absolute; 
}