
#tankscarousel ul.slides {
    display: block;
    position: relative;
    height: 500px;
    /* max-height: 500px; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

#tankscarousel .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#tankscarousel ul.slides input {
    display: none; 
}


#tankscarousel .slide-container { 
    display: block; 
}

#tankscarousel .slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .5s ease-in-out;

    text-align: center;
}   

#tankscarousel .slide-image img {
    height: 100%;
    width: auto;

    position: absolute;
    margin-left: 0%;
    transform: translateX(-50%);
}



#tankscarousel .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 500px;
    color: #3BF6FF;
}

#tankscarousel .carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 1;
    transition:  .4s;
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0);
}#tankscarousel .slide-image:hover +  .carousel-controls label{
    /* opacity: 0.5; */
    opacity: 1;
    background-color: rgba(0, 0, 0, .3);
}#tankscarousel .carousel-controls label:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

#tankscarousel .carousel-controls label span {
    opacity: 0;
    transition:  .25s;
    font-family: 'Rosario', sans-serif;
}#tankscarousel .slide-image:hover +  .carousel-controls label span{
    opacity: 1;
}#tankscarousel .carousel-controls label:hover span {
    opacity: 1;
    filter: drop-shadow(0 0 20px #00D3DD) drop-shadow(0 0 20px #00D3DD) drop-shadow(0 0 10px #00D3DD);
}


#tankscarousel .carousel-controls .prev-slide {
    width: 6%;
    text-align: left;
    left: 0;
}#tankscarousel .carousel-controls .next-slide {
    width: 6%;
    text-align: right;
    right: 0;
}



#tankscarousel .carousel-dots{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 999;
    text-align: center;
}#tankscarousel .carousel-dots .carousel-dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3BF6FF;
    opacity: 0.4;
    margin: 0px;
    animation: dotsGlow 1s alternate infinite linear;
}

@keyframes dotsGlow {
    0% {
        background-color: #3BF6FF;
        filter: drop-shadow(0 0 10px #00D3DD);
    }
    100% {
        background-color: #3BF6FF;
        filter: drop-shadow(0 0 10px #00BCC5) drop-shadow(0 0 5px #00BCC5) drop-shadow(0 0 5px #00BCC5);
    }
}

#tankscarousel input:checked +  .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}#tankscarousel input:checked +  .slide-container .carousel-controls label {
     display: block; 
}

#tankscarousel input#img-1:checked ~  .carousel-dots label#img-dot-1,
#tankscarousel input#img-2:checked ~  .carousel-dots label#img-dot-2,
#tankscarousel input#img-3:checked ~  .carousel-dots label#img-dot-3{
	opacity: 1;
}

#tankscarousel input:checked +  .slide-container .nav label { display: block; }
